slayTheCrossSave/STSUnlocks
slayTheCrossSave/STSUnlockProgress
slayTheCrossSave/STSAchievements
slayTheCrossSave/STSDataDefect
slayTheCrossSave/STSDataTheSilent
slayTheCrossSave/STSDataVagabond
slayTheCrossSave/STSDataWatcher
slayTheCrossSave/STSPlayer
slayTheCrossSave/STSSeenBosses
slayTheCrossSave/STSSeenCards
slayTheCrossSave/STSSeenRelics
config.json
target
slayTheCrossSave/STSTips
slayTheCrossSave/IRONCLAD.autosave
slayTheCrossSave/STSSaveSlots
slayTheCrossSave/THE_SILENT.autosave
